#container {
  width: 90%;
  background-color:#DCDCDC;
  margin:0 auto;
  align-content:center;
}

h1{
  font-family:georgia,"Times New Roman",serif;
  color:white;
}

h2{
  font-family:Arial,helvetica, sans-serif;
  color:white;
}

h3{
font-family:georgia,"Times New Roman", serif;
  color:white

}

p{
  font-family: arial, helvetica, sans-serif;
  font-size: 1.5em;
  font-style: italic;
  color:white;

}
body{
  background-color:#DDA0DD;
}

#nav {
  padding:0;
}

#nav li {
  list-style-type:none;
  float:left;
  margin:0
  padding:0;
  width:20%;
}

#nav a:link, a:visited {
  display:block;
  color: #white;
  background-color: #DB7093
  text-align:center;
  text-decoration:none;
  font-family:Helvetica, Arial, sans-serif;
  padding: 8px;
}

#nav a:hover, a:active {
  background-color:#DB7093;
}

#footer {
  color:black;
  font-family: Georgia, "Times New Roman", serif;
  text-align:left;
  font-size:.8em;
  font-style:normal;

}

img {
  border-style:none;
  align:center;
}
